body {
  text-align: center;
  background-image: url(images/empty-dark-room-modern-futuristic-sci-fi-background-3d-illustration_35913-2333.avif);
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.footer{
  width :100%;
  height: 100px;
  text-align: center;
  background-color: purple;
  padding-top:15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
